[user]
	email = mecaneer23@gmail.com
	name = mecaneer23
[safe]
    directory = *
    # "*" wildcard isn't supported when used in a path 
    # directory = /mnt/gdrive/My Drive/code/*
	directory = %(prefix)///wsl.localhost/Ubuntu/home/mecaneer23
[credential]
	helper = store
